.home {
  padding: 0.7rem 0.5rem;
}
.sub-home-1 {
  min-height: 5rem;
  text-align: center;
  padding-top: 1rem;
}
.sub-home-1 > h1 {
  color: var(--color3);
}
.sub-home-1 > p {
  color: var(--color1);
}
.sub-home-2 {
  display: flex;
  align-items: flex-start;
  margin-top: 0.9rem;
}
.sh2-1 {
  width: 60%;
  padding-top: 1.5rem;
}
.my-calendar {
  width: 35%;
  text-align: center;
}
.btn1 {
  padding: 0.5rem 0.1rem;
  background-color: var(--color1);
  color: #fff;
  border-radius: 6px;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn1:hover {
  background-color: rgb(35, 94, 92);
  box-shadow: 3px 1px 5px 0 rgba(19, 164, 159, 0.8);
}
