


.sub-home-2 {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap-reverse;
  padding-top: 1.9rem;
}
.sh2-1 {
  width: 60%;
  
}
.my-calendar {
  width: 35%;
  text-align: center;
}
.btn1 {
  padding: 0.5rem 0.1rem;
  background-color: var(--color1);
  color: #fff;
  border-radius: 6px;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn1:hover {
  background-color: #1f8a86;
  box-shadow: 3px 1px 5px 0 rgba(19, 164, 159, 0.8);
}
